In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# File name for the metadata to use in app.py
METADATA_FILE = 'labels.csv'
# ordering of columns in BOTH this file and app.py
COLUMN_ORDER = ['label', 'xmin', 'xmax', 'ymin', 'ymax', 'image']

In [3]:
# list of image names
image_files = os.listdir('ppe_data/images')
label_files = os.listdir('ppe_data/labels')

In [4]:
# Add one row for each label
# For each image
temp = []
for file in label_files:
    image_file = file[:-3] + 'jpg'
    try:
        with open('ppe_data/labels/' + file, encoding='utf-8') as f:
            for line in f.readlines():
                temp.append([item for item in line.strip('\n').split(' ')] + [image_file])
    except:
        continue
metadata = pd.DataFrame(temp, columns=COLUMN_ORDER)
print('metadata created')

metadata created

In [5]:
metadata

    label xmin  xmax ymin  ymax         image
0       0  183  1367  183  1004   pos_591.jpg
1       2   38   132  146   270   neg_948.jpg
2       2  142   217  142   271   neg_948.jpg
3       2  223   292  150   275   neg_948.jpg
4       2  295   361  144   272   neg_948.jpg
..    ...  ...   ...  ...   ...           ...
690     2  340   679   40   720  pos_1810.jpg
691     1  379   640  198   542  pos_1810.jpg
692     0  464   596   42   131  pos_1810.jpg
693     2    2   370   32   500   neg_819.jpg
694     2  243   408  139   500   neg_819.jpg

[695 rows x 6 columns]

In [6]:
# Convert integer category label to object name string
metadata.loc[metadata['label'] == '0', 'label'] = 'safetyVest'
metadata.loc[metadata['label'] == '1', 'label'] = 'hardHat'
metadata.loc[metadata['label'] == '2', 'label'] = 'person'

In [62]:
# Convert string coordinates to float coordinates
metadata['xmin'] = metadata['ymin'].astype(float)
metadata['xmax'] = metadata['xmax'].astype(float)
metadata['ymin'] = metadata['ymin'].astype(float)
metadata['ymax'] = metadata['ymax'].astype(float)

In [63]:
metadata.describe()

             xmin         xmax        ymin         ymax
count  695.000000   695.000000  695.000000   695.000000
mean   144.139568   448.660432  144.139568   382.608633
std    104.106750   351.941629  104.106750   213.131143
min      0.000000     1.000000    0.000000     2.000000
25%     68.000000   233.000000   68.000000   261.500000
50%    132.000000   355.000000  132.000000   332.000000
75%    188.500000   528.500000  188.500000   455.000000
max    664.000000  3596.000000  664.000000  2308.000000

In [64]:
# Convert string coordinates to float coordinates
metadata['xmin'] = metadata['ymin'].astype(int)
metadata['xmax'] = metadata['xmax'].astype(int)
metadata['ymin'] = metadata['ymin'].astype(int)
metadata['ymax'] = metadata['ymax'].astype(int)

In [7]:
# Save file
metadata.to_csv(METADATA_FILE, index=False)